.STYLE1 {
	font-size: 14px;
	font-family: "宋体";
	color: #FFFFFF;
}.biaodan {
	font-family: "宋体";
	font-size: 12px;
	color: #FFFFFF;
	background-color: #5ac2ef;
	border: 1px solid #006699;
	width: 200px;
	height: auto;
	line-height: normal;
}
.文本域 {
	font-family: "宋体";
	font-size: 12px;
	color: #FFFFFF;
	background-color: #5ac2ef;
	border: 1px solid #006699;
	width: 278px;
	height: auto;
	line-height: normal;
	margin: 1px;
	padding: 1px;
}
.创建相册文本域 {


	font-family: "宋体";
	font-size: 12px;
	color: #FFFFFF;
	background-color: #5ac2ef;
	border: 1px solid #006699;
	width: 170px;
	height: auto;
	line-height: normal;
}
